<!DOCTYPE html>
html
	head
		title Data&nbsp;Saver&nbsp;&nbsp;-&nbsp;&nbsp;Home
		script(type="text/javascript" language="javascript" src="js/jquery-3.3.1.min.js")
		script(type="text/javascript" language="javascript" src="js/bootstrap.min.js")
		script(type="text/javascript" language="javascript" src="js/script.js")
		link(rel="stylesheet" type="text/css" href="css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="css/style.css")
		link(rel="icon" href="images/webicon.ico")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(charset="utf-8")
		meta(property="og:type" content="images/png")
		meta(property="og:description" content="Data Saver. It helps you to save your accounts")
		meta(property="og:image" content="images/poster.png")
		meta(property="twitter:type" content="images/png")
		meta(property="twitter:description" content="Data Saver. It helps you to save your accounts")
		meta(property="twitter:image" content="images/poster.png")
	body(data-spy="scroll" data-offset="50" data-target=".navbar")
		div.navbar.navbar-inverse.navbar-fixed-top.navtyle
			div.container
				div.navbar-header
					button.navbar-toggle(data-toggle="collapse" data-target="#mycollNav")
						span.icon-bar
						span.icon-bar
						span.icon-bar

					a.navbar-brand(href="/" style="display: inline-block;color: white; ")
						img(src="images/webicon.ico" style="width: 40px;display: inline-block;height: 40px;margin-top: -10px;")
						| DataSaver
				div.collapse.navbar-collapse#mycollNav
					div.nav.navbar-nav.navbar-right
						li
							a(style="color: white" href="#section1") Features
						li
							a(style="color: white" href="#section3") Screenshots
						li
							a(style="color: white" href="#section2") About
		div.header.col-lg-12.col-md-12.col-xs-12.col-sm-12
			div.col-lg-4.col-md-6.col-xs-12.col-sm-12.inner
				h1 Save your accounts in Data&nbsp;Saver
				p Data saver helps you tu save your accounts
				p fast, safe and easy to use
				br
				a(href="#section2" style="width: 150px;")
					button.myButton(type="button") More about software
			div.col-lg-4.col-md-6.col-xs-12.col-sm-12.inner-image
				img.img-responsive(src="images/Capture2.png")


		div.features-block.col-lg-12.col-md-12.col-xs-12.col-sm-12#section1
			div.container
				h3.text-center.features-header 
					span.bar 
					span DataSaver Features
					span.bar 
				hr
				br
				br
				div.col-lg-4.col-md-4.col-sm-12.col-xs-12#d
					img.img1.img-responsive(src="images/backchange.png")
					h3.features-header#f1 Background change

					p.text-center Software has background changing feature<br>User can change background color<br> any time, with any color.

				div.col-lg-4.col-md-4.col-sm-12.col-xs-12#d
					img.img1.img-responsive(src="images/fontchange.png")
					h3.features-header#f2 Font change

					p.text-center Software has font style changing feature<br>User can change font style<br> any time, with any font style.

				div.col-lg-4.col-md-4.col-sm-12.col-xs-12#d
					img.img1.img-responsive(src="images/languagechange.png")
					h3.features-header#f1 Language change

					p.text-center Software has language changing feature<br>User can change language<br> any time. Program has only<br> 3 language support: Georgian, English and Russian.
			br
			br
			br

		div.doingBlock.col-lg-12.col-md-12.col-xs-12.col-sm-12#section2
			h3.text-center.features-header 
				span.bar 
				span What Our Software Can To Do For You
				span.bar
			hr
			br

			div.imageBlock.col-lg-6.col-md-6.col-xs-12.col-sm-12
				img.img-responsive(src="images/Capture2.png" style="height: 100%;")
			div.col-lg-6.col-md-6.col-xs-12.col-sm-12(style="overflow: hidden")
				div.container
					h3.features-header 
						span.bar 
						span(style="margin-left: 20px") Account Save&nbsp;&nbsp;&nbsp;
						span.bar 
					p(style="padding: 10px;font-family: 'Lato-Regular'") You Can To Save Your Accounts Any Time. These Accounts Could Be: <strong>E-mail, Social Network</strong> <br> and etc.&nbsp;Software Do Not Uses DataBase and Network Connection.
					br
					h3.features-header 
						span.bar 
						span(style="margin-left: 20px") Accounts Delete&nbsp;&nbsp;&nbsp;
						span.bar 
					p(style="padding: 10px;font-family: 'Lato-Regular'") You Can To Delete Your Accounts Any Time. These Accounts Could Be: <strong>E-mail, Social Network</strong> <br> and etc.&nbsp;These Accounts Are Storing in Text file.
					br
					h3.features-header 
						span.bar 
						span(style="margin-left: 20px") Safety&nbsp;&nbsp;&nbsp;
						span.bar 
					p(style="padding: 10px;font-family: 'Lato-Regular'") Software Has Great Functions To Secure Your Program From Incorrect Data Entering.<br>User Must Be Authorized In Program To Show Datas.

		div.doingBlock.col-lg-12.col-md-12.col-xs-12.col-sm-12(style="background-image: url('images/1.png')")#section3
			h3.text-center.features-header(style="color:white") 
				span.bar 
				span Software Screenshots
				span.bar 
			br
			br
			div.container(style="background-image: url('images/1.png')")
				div.carousel.slide#myCarousel(data-ride="carousel")
					ul.carousel-indicators
						li.active(data-target="#myCarousel" data-slide-to="0")
						li(data-target="#myCarousel" data-slide-to="1")
						li(data-target="#myCarousel" data-slide-to="2")
						li(data-target="#myCarousel" data-slide-to="3")
						li(data-target="#myCarousel" data-slide-to="4")
						li(data-target="#myCarousel" data-slide-to="5")

					div.carousel-inner
						div.item.active
							img.img-responsive(src="images/Capture1.png" style="margin-left: 38%;height: 500px")
						div.item
							img.img-responsive(src="images/Capture2.png" style="width: 100%;height: 500px")
						div.item
							img.img-responsive(src="images/Capture3.png" style="width: 100%;height: 500px")
						div.item
							img.img-responsive(src="images/Capture4.png" style="width: 100%;height: 500px")
						div.item
							img.img-responsive(src="images/Capture5.png" style="width: 100%;height: 500px")
						div.item
							img.img-responsive(src="images/Capture6.png" style="width: 100%;height: 500px")
					br
					br
					br

					a.carousel-control.left(data-slide="prev" data-target="#myCarousel")
						span.glyphicon-chevron-right(style="cursor: pointer") &#8249;
					a.carousel-control.right(data-slide="next" data-target="#myCarousel")
						span.glyphicon-chevron-right(style="cursor: pointer") &#8250;

		div.doingBlock.col-lg-12.col-md-12.col-xs-12.col-sm-12
			br
			center
				p Copyright&nbsp;&copy;&nbsp;2019.&nbsp;&nbsp;&nbsp;Created By&nbsp;&nbsp;<a href="https://www.facebook.com/pg/DC-studio-ვებ-გვერდებისა-და-პროგრამების-დამზადება-335767820257838/">DC-STUDIO</a>